<title>Mark Thackham | Data Science and Research Portfolio</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Data Science and Research Portfolio">
<meta property="og:description" content="Data Science and Research Portfolio">
<meta property="og:locale" content="en_US">
<meta property="og:url" content="https://markthackham.github.io/">
<meta property="og:site_name" content="Data Science and Research Portfolio">
<meta property="og:type" content="website">
<meta name="twitter:card" content="summary">
<meta property="twitter:title" content="Mark Thackham">
<link rel="canonical" href="https://markthackham.github.io/">
<link rel="stylesheet" href="/assets/css/style.css">
<!-- Add your favicon if desired -->
<!-- <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico"> -->